body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;background-image: url(https://t4.ftcdn.net/jpg/04/39/13/37/360_F_439133763_FrLdhZsd5aGC23r9ATARuKJBr8ifZjIe.jpg);
    background-repeat: no-repeat;background-size: cover;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;background-image: url(https://i.pinimg.com/736x/a6/15/2c/a6152c294382a7f34c5312be5920e3b5.jpg);
    background-repeat: no-repeat;background-size: cover;
}

header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

#timer, #score, #feedback {
    margin: 10px 0;
}

#options {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#options button {
    margin: 5px 0;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#options button:hover {
    background-color: #0056b3;
}

#end-container {
    display: none;
}

.hidden {
    display: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #fff;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}
